body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 5px 5px 15px #bfbfbf, -5px -5px 15px #ffffff;
}

h1 {
  margin: 0;
}

main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 15px #bfbfbf, -5px -5px 15px #ffffff;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-shadow: inset 5px 5px 15px #bfbfbf, inset -5px -5px 15px #ffffff;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 15px #bfbfbf, -5px -5px 15px #ffffff;
}

p {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}
